button {
  display: flex;
  padding: 0 16px; 
  height: 40px;
  border: 1px solid #181819;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  align-items: center;
  text-align: center;
  background-color: transparent;
  width: auto;
  cursor: pointer; 
}

.button-text,
.button-icon {
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: transparent;
}

.button-icon {
  margin-left: 12px; 
}

.button-icon svg {
  color: white;
  background-color: transparent;
}

button:hover {
  background-color: #eb5d3b;
  color: white;
}

button:focus {
  outline: none; 
  box-shadow: 0 0 0 2px rgba(235, 93, 59, 0.5); 
}
